//
// Account Pages
// 

.account-body{
  background-color: $account-body;
}

.accountbg {
  background: url("../images/bg-1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  top: 0;
  box-shadow:inset 0 0 0 2000px rgba($gray-900,.8);
  .account-title{
    width: 470px;
    position: relative;
    display: block;
    margin: 0 auto;
    h1{
      font-size: 60px;
      font-weight: 700;
      margin: 30px 0;
    }
  }
}

.account-social {
  h6{
    color: $gray-700;
  }
  h6:after {
    display: inline-block;
    margin: 0 0 4px 14px;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: $gray-200;
    width: 124px;
  }
  h6:before {
    display: inline-block;
    margin: 0 14px 4px 0;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color: $gray-200;
    width: 124px;
  }
  
  a{
    i {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      font-size: 14px;
      z-index: 5;
      &.facebook{
        background-color: rgba($primary, 0.15);
        color: $primary;
      }
      &.twitter{
        background-color: rgba($info, 0.15);
        color: $info;
      }
      &.google{
        background-color: rgba($danger, 0.15);
      color: $danger;
      }
    }
    &:hover .facebook{
      color: $white;
      background-color: $primary;
    }
    &:hover .twitter{
      color: $white;
      background-color: $info;
    }
    &:hover .google{
      color: $white;
      background-color: $danger;
    }
  }
}


.error-content {
  h1 {
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: rgb(255, 255, 255) 1px 1px, rgb(68, 162, 210) 2px 2px, rgb(68, 162, 210) 3px 3px;
  }
}