//
// Calendar
// 

.calendar {
  float: left;
  margin-bottom: 0;
}
.none-border {
  .modal-footer {
    border-top: none;
  }
}

.fc-toolbar {
  h2 {
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .fc-state-active,
  .ui-state-active,
  button:focus,
  button:hover,
  .ui-state-hover{
    z-index: 0;
  }
}

.fc-day {
  background: $white;
}


.fc-widget-header {
  background-color: $primary;
  color: $white;
}

.fc-widget-content {
  border: 1px solid $gray-400;
}

.fc {
  th.fc-widget-header {
    font-size: 15px;
    line-height: 20px;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
  }
  button {
    height: auto;
    padding: 6px 16px;
  }
}

.fc-unthemed{
  .fc-content,
  .fc-divider,
  .fc-popover,
  .fc-row,
  tbody,
  td,
  th,
  thead{
    border-color: rgba($primary,0.15);
  } 
}


.fc-button {
  background: $white;
  border: 1px solid $gray-500;
  color: $gray-600;
  font-family: inherit;
  text-transform: capitalize;
}
.fc-state-active, 
.fc-state-down {
  box-shadow: none;
  background-color: $primary;
  border-color: $primary;
  color: $white;
  text-shadow: none;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: $gray-500;
}

.fc-state-highlight {
  background: $gray-300;
}

.fc-cell-overlay {
  background: $gray-300;
}

.fc-unthemed {
  .fc-today {
    background: rgba($primary,.05) !important;
  }
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px;
  padding: 7px 5px;
  text-align: center;
  background-color: rgba($primary, 0.18);
  color: $primary;
}

.external-event {
  color: $white;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view {
  td.fc-week-number {
    span {
      padding-right: 5px;
    }
  }
  td.fc-day-number {
    padding-right: 5px;
  }
}

tr:first-child>td>.fc-day-grid-event {
  border-left: 5px solid;
}
.fc-button{
  text-shadow: none;
  box-shadow: none;
}
.fc-button:hover,
.fc-state-default:hover{
  background-color: $primary;
  color: $white;
  border-color: $primary;
}