//
// General
// 

html {
  position: relative;
  min-height: 100%;
  background-color: $bg-body;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: $font-size-base;
  font-family: $font-primary;
}

.page-wrapper-img{
  background-image: url("../images/overlay.png");
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  box-shadow: inset 0 0 0 2000px rgba(31, 35, 60, 0.8);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 10px 0;
}


h1 {
  line-height: 43px;
  font-size: 36px;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h3 {
  line-height: 30px;
  font-size: 24px;
}

h4 {
  line-height: 22px;
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  line-height: 1.6;
  font-size: 13px;
}

* {
  outline: none !important;
}

a {
  &:hover,&:active,&:focus {
    outline: 0;
    text-decoration: none;
  }
}



/* Page titles */

.title-text,
.header-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  color: $gray-600;
  text-shadow: 0 0 1px rgba(0,0,0,.1) ;
}

.page-title-box {
  padding: 30px 26px;
  margin-left: 270px;
  margin-top: 70px;

  .page-title {
    font-size: 18px;
    margin: 0;
    color: $gray-100;
  }  

  .breadcrumb {
    font-size: 13px;
    margin-bottom: 0;
    padding: 2px 0;
    background-color: transparent;
  }
}


.dash-icon-info {
  i{
    font-size: 36px;
  }
}

#session-timeout-dialog {
  .modal-header {
    display: inline-block;
  }
}



/*clock*/

.superpose {
  color: $gray-200;
  height: 350px;
  width: 100%;
  .superclock {
    position: relative;
    width: 300px;
    margin: auto;
    .superclock1 {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .superclock2 {
      position: absolute;
      left: 60px;
      top: 60px;
    }
    .superclock3 {
      position: absolute;
      left: 110px;
      top: 110px;
    }
  }
}


.cd-single-step {
  .cd-more-info{
    background-color: $gray-100;
    border: 5px double $gray-300;
    border-radius: 5px;
    h2{
      font-size: 18px;
      margin-top: 0;
      color:$primary;
      font-family: $font-primary;
    }
    span,
    p{
      font-family: $font-primary;
    }
  }
}

.cd-tour-wrapper.active {
  list-style-type: none;
}


.jstree-open>.jstree-anchor>.fa-folder:before {
  margin-left: 2px;
  content: "\f07c";
}
.fa-folder:before {
  content: "\f07b";
}

.jstree-anchor > .jstree-themeicon {
  margin-right: 6px;
}
.jstree-default .jstree-anchor {
  line-height: 24px;
  height: 32px;
}

.blog-card {
  .meta-box {
    li {
      color: $gray-600;
      font-size: 13px;
      font-weight: 500;
      margin-left: 0;
      margin-right: 0;
      text-transform: uppercase;
      a {
        color: $success;
      }
    }
    li::after {
      content: "|";
      margin: 0 8px;
    }
    li:last-child:after {
      content: "";
    }
  }
  h4 a{
    color: $gray-700;
    font-weight: 400;
    font-size: 17px;
  }
}

@media only screen and (max-width: 767px){
  li.cd-single-step {
    top: 30px!important;
  }
}
