//
// Slider
// 

.slick-slider{
  display: grid;
}
.slick-prev, .slick-next {
  width: 34px;
  height: 34px;
  border-radius: 0px;
  z-index: 1;
  background-color: $light !important;
  box-shadow: $shadow;
}

.slider-padding {
  div {
    margin: 5px;
  }
}

.slick-prev:before, .slick-next:before {
  color: $primary;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots li button::before {
  font-size: 10px;
  color: $dark !important;
  border: 2px solid $dark !important;
  border-radius: 50%;
  line-height: 18px;
}

.slick-center img {
  opacity: 1;
  transform: scale(1.01);
  border: 3px solid $primary;
}

.slider-syncing-nav {
  margin-top: 10px;

  div {
    border-left: 3px solid $white;
  }
}
