//
// Topbar
//
.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .topbar-left {
        float: left;
        width: $leftbar-width;
        z-index: 1;
        .logo {
            line-height: $topbar-height;
            .logo-sm {
                height: 24px;
            }
            .logo-lg {
                height: 14px;
                margin-left: 5px;
            }
        }
    }
}
.navbar-custom {
    background: $bg-navbar;
    padding: 0 80px;
    min-height: $topbar-height;
    position: relative;
    box-shadow: $shadow;
    .nav-link {
        padding: 0 0.75rem;
        color: $gray-600;
        line-height: $topbar-height;
        max-height: $topbar-height;
        .nav-icon {
            font-size: 24px;
        }
    }
    .dropdown-toggle {
        &:after {
            content: initial;
        }
    }
    .topbar-nav {
        li {
            float: left;
            &.show {
                .nav-link {
                    color: $gray-500;
                }
            }
        }
    }
}



/* Notification */

.noti-icon-badge {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 9px;
}

.notification-list {
    max-height: 220px;
}

.notification-list {
    margin-left: 0;
    .noti-title {
        border-radius: 0.25rem 0.25rem 0 0;
        margin: -4px 0px 0px 0px;
        width: auto;
        padding: 12px 20px;
        h5 {
            margin: 0;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .noti-icon {
        font-size: 28px;
        vertical-align: middle;
        color: $muted;
    }
    .noti-icon-badge {
        display: inline-block;
        position: absolute;
        top: 9px;
        right: 3px;
        border: 3px solid rgba($white, 0.6);
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }
    .notify-item {
        padding: 10px 20px;
        .notify-icon {
            float: left;
            height: 36px;
            width: 36px;
            line-height: 36px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            color: $white;
            img {
                margin-top: 4px;
            }
        }
        .notify-details {
            margin-bottom: 0;
            overflow: hidden;
            margin-left: 45px;
            text-overflow: ellipsis;
            white-space: nowrap;
            b {
                font-weight: 500;
            }
            small {
                display: block;
                white-space: normal;
            }
            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 13px;
            }
        }
    }
}





.button-menu-mobile {
    border: none;
    color: $white;
    width: 60px;
    background-color: transparent;
    cursor: pointer;
}

.nav-user {
    .nav-user-name {
        vertical-align: middle;
    }
    img {
        height: 32px;
        width: 32px;
    }
}


.page-wrapper-img{
    padding: 0 80px;
}



//search

.app-search .form-control, 
.app-search .form-control:focus {
  border: 1px solid $gray-300;
  font-size: 13px;
  height: 34px;
  color: $gray-700;
  padding-left: 20px;
  padding-right: 40px;
  background: $white;
  box-shadow: none;
  border-radius: 30px;
  width: 300px;
}
.app-search {
    form{
        display: inline-block;
    }
  position: relative;
  margin-left: 5px;
  line-height: $topbar-height;

  input.form-control::-webkit-input-placeholder {
    color: $gray-500;
  }
  input.form-control:-moz-placeholder {
    color: $gray-500;
  }
  input.form-control::-moz-placeholder {
    color: $gray-500;
  }
  input.form-control:-ms-input-placeholder {
    color: $gray-500;
  }
}
.app-search a {
    position: absolute;
    top: 0;
    left: 260px;
    display: block;
    height: 0;
    line-height: $topbar-height;
    width: 34px;
    text-align: center;
    color: $gray-500;
}

@media (max-width: 1024px) {
    body{
        background-color: transparent;
    }
    .topbar {
        .topbar-left {
            width: 18px;
            
            .logo-lg {
                display: none;
            }
        }

    }
    .page-wrapper-img{
        padding: 0;
        overflow-x: hidden;
    }
    .page-title-box{
        margin-left: 0;
    }
    .navbar-custom {
        padding: 0 20px;
        .nav-link:last-of-type{
            padding-right: 0;
        }
    }
    
}

